<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <form method="POST" th:action="@{'/chat'}" th:object="${chatForm}">
        <label for="messageText">Message Text:</label>
        <input id="messageText" name="messageText" type="text" th:field="*{messageText}">
        <label for="messageType">Message Type: </label>
        <select id="messageType" name="messageType" th:field="*{messageType}">
<!--            <option-->
<!--                    th:each="type : ${allMessageTypes}"-->
<!--                    th:value="${type}"-->
<!--                    th:text="${type}"-->
<!--            >-->
<!--                Say-->
<!--            </option>-->
            <option th:each="t: ${T(com.lime.udacitythymeleaf.model.MsgType).values()}" th:value="${t}" th:text="${t}" ></option>
        </select>
        <input type="submit">
    </form>
    <div th:each="chatMessage : ${chatMessages}">
        <span th:text="${chatMessage.username}">Username</span>: <span th:text="${chatMessage.messageText}">Hello, world!</span>
    </div>
</body>
</html>