<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form action="#" th:action="@{'/home'}" th:object="${messageForm}" method="POST">
        <label for="highFiveText">Send a high five to someone: </label>
        <input type="text" id="highFiveText" name="highFiveText" th:field="*{text}">
        <input type="submit">
    </form>
    <h1 th:each="msg : ${greetings}" th:text="${msg}" th:unless="${msg.contains('Goodbye')}">Hello, homepage!</h1>

</body>
</html>